<% include partials/head %>
<div class="container">
  <div class="row">
    <div class="card p-4 mx-auto">
     <div class="col-md-12">
         <a href="/agregar-producto" class="btn btn-primary btn-lg btn-block" >
            Agregar Producto
         </a>
         <a href="/productos/1" class="btn btn-primary btn-lg btn-block">
            Paginacion
         </a>
        </div>
    </div>
 </div>
</div>
<% include partials/footer %>
